<% content_for :body_class, "about-us" %>
<div class="header-image" style="background-image: url('/images/about-img.jpg');">
</div>

<h2>Meet Our Team</h2>
<ul class="member-list">
	<li class="member-section grid-50">
		<div class="member-avatar">
		</div>
		<h3 class="member-name">
		Member Name
		</h3>
		<p class="member-role">
		Member Role
		</p>
		<p class="member-bio">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur diam velit, scelerisque egestas nunc sed, venenatis tempor tellus. 
		</p>
	</li><li class="member-section grid-50">
		<div class="member-avatar">
		</div>
		<h3 class="member-name">
		Member Name
		</h3>
		<p class="member-role">
		Member Role
		</p>
		<p class="member-bio">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur diam velit, scelerisque egestas nunc sed, venenatis tempor tellus. 
		</p>
	</li><li class="member-section grid-50">
		<div class="member-avatar">
		</div>
		<h3 class="member-name">
		Member Name
		</h3>
		<p class="member-role">
		Member Role
		</p>
		<p class="member-bio">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur diam velit, scelerisque egestas nunc sed, venenatis tempor tellus. 
		</p>
	</li><li class="member-section grid-50">
		<div class="member-avatar">
		</div>
		<h3 class="member-name">
		Member Name
		</h3>
		<p class="member-role">
		Member Role
		</p>
		<p class="member-bio">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur diam velit, scelerisque egestas nunc sed, venenatis tempor tellus. 
		</p>
	</li><li class="member-section grid-50">
		<div class="member-avatar">
		</div>
		<h3 class="member-name">
		Member Name
		</h3>
		<p class="member-role">
		Member Role
		</p>
		<p class="member-bio">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur diam velit, scelerisque egestas nunc sed, venenatis tempor tellus. 
		</p>
	</li><li class="member-section grid-50">
		<div class="member-avatar">
		</div>
		<h3 class="member-name">
		Member Name
		</h3>
		<p class="member-role">
		Member Role
		</p>
		<p class="member-bio">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur diam velit, scelerisque egestas nunc sed, venenatis tempor tellus. 
		</p>
	</li><li class="member-section grid-50">
		<div class="member-avatar">
		</div>
		<h3 class="member-name">
		Member Name
		</h3>
		<p class="member-role">
		Member Role
		</p>
		<p class="member-bio">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur diam velit, scelerisque egestas nunc sed, venenatis tempor tellus. 
		</p>
	</li>
</ul>
<div class="message-decoration">
<hr/>
<span>Integrity &#8226; Quality &#8226; Creativity &#8226; Simplicity</span>
</div>
<h2>Our Story</h2>
<p>We take all comers. Whether you have bad credit, no employment, or burned all your documentation to the ground, you will not be turned away at The Loan Story. Established in 2005 right before the subprime mortgage crisis, The Loan Story survived the worst housing crash in all of US history and is still going strong today. Its president, Maria Chen, believes that loans are about planning your life and looking into the future, not just the cheapest deal you see. At The Loan Story, we look at everything from your income patterns to your lifestyle to your retirement plan to determine the best method to borrow for you.</p>
<br/>						
<p>Despite our commitment to the toughest of cases, our loan success rate is far better than our competitors. In fact, The Loan Story’s pull-through rate on broker scorecards is over 90%. (To put this in perspective, an average bank’s is about 50-50.) Our loan applications are so well organized and outstanding that US Bank chose to feature them in their broker training manual as an example to other brokers. This is because we take the time to check and triple check the loan application on your behalf and make sure we have represented you in the best light possible.</p>
<br/>						
<p>Our professionalism and dedication to quality has another hidden benefit to you. Many underwriters clamor for loans from The Loan Story because they find us so easy to work with, and as a result we often receive special offers from lenders requesting us to give them more loans in exchange for a lower interest rate. To put this in perspective, a .5% discount from a lender is equivalent to $50,000 off a loan of one million, a sizable sum. The Loan Story does not take any portion of this money and instead passes the savings directly on to you.</p>
<br/>						
<p>Finally, we want to reiterate that we are here to make your home-buying process as pain-free and as enjoyable as possible. We at The Loan Story believe that real service contains something which cannot be bought or measured with money, and that is integrity. 
</p>
<br/>
<hr/>

<div class="grid-40">
<h2>Contact Us</h2>

<span><span class="icon-phone icon"></span><b>Phone:</b>(408) 366-0311</span>
<br/>
<span><span class="icon-fax icon"></span><b>Fax:</b>(408) 366-0312</span>
<br/>
<span><span class="icon-email icon"></span><b>E-mail:</b>See Staff Profiles for individual emails</span>
<br/>
<br/>
<span><b>Address</b>
<br/>
The Loan Story
<br/>
275 Saratoga Ave. Suite 220
<br/>
Santa Clara, CA 95050
</span>
<br/>
</div><div class="gmap grid-60">
<iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3172.5503946431363!2d-121.96623088480642!3d37.329476379842916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fcaf17b7f1d5d%3A0x518fe4cd1b32eeb0!2s275+Saratoga+Ave+%23220%2C+Santa+Clara%2C+CA+95050!5e0!3m2!1sen!2sus!4v1505276731676" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>