<div class="main-banner">
</div>
<div class="cta">
	<h1>OUR LOAN ADVISORS OFFER PERSONAL SERVICE</h1>
	<p>We will be there every step of the way and make the process simple for you so you can save time and money. </p>
	<br/>
	<a class="text-link">LINK PLACEHOLDER</a>
</div>
<div class="help-links">
	<span class="grid-33">
		<span class="icon icon-refresh"></span>
		<h2>What is the loan Process?</h2>
		<p>From organizing your documents
to closing your loan.</p>
		<a class="primary text-link">FIND OUT WHAT'S INVOLVED</a>
	</span>
	<span class="grid-33">
		<span class="icon icon-search"></span>
		<h2>Which Loan is Right for Me?</h2>
		<p>Fixed rate, Adjustable rate, or first time homebuyer?</p>
		<a class="primary text-link">FIND OUT WHAT'S INVOLVED</a>
	</span>
	<span class="grid-33">
		<span class="icon icon-calculator"></span>
		<h2>What is My Monthly Payment?</h2>
		<p>Calculate your monthly payment and budget your cashflow.</p>
		<a class="primary text-link">FIND OUT WHAT'S INVOLVED</a>
	</span>
</div>
<div class="customer-reviews">
	<h2>Five Star Ratings For All Loan Advisors On Yelp</h2>
	<br/>
	<div class="quote-box grid-33">
	 <p>No cost loan completed by an expert team providing excellent service? Yes please! ...We love the Loan Story and have recommended them to a ton of our friends.</p>
	 <span class="icon-user"></span>
	 <span>David R.</span>
	</div>
	<div class="quote-box grid-33">
		<p>They are exceptionally responsive and organized. … We now live 600 miles away and still use their services!</p>
		<span class="icon-user"></span>
		<span>Dennis N. </span>
	</div>
	<div class="quote-box grid-33">
		<p>The whole experience from start to finish was so easy and they were the ones that made it so easy. Communication was great and I would work with them again in the future in a heartbeat….</p>
		<span class="icon-user"></span>
		<span>Zach L.</span>
	</div>
	<a class="primary text-link">READ MORE REVIEWS ON YELP</a>
</div>