<% content_for :body_class, "loan-programs" %>

<div class="header-image opaque" style="background-image: url('/images/loan-programs-img.jpg');">
<h1>Which Loan Is Right For Me?</h1>
</div>

<div class="content-wrap">
<span class="icon icon-house"></span>
<h2>Fixed Rate Mortgage</h2>
<h3>10, 15, 30 year fixed</h3>
<p>A fixed rate mortgage is a mortgage that has a fixed interest rate for the entire term of the loan. With a fixed-rate mortgage, borrowers do not have to worry about interest rates spiking and increasing their mortgage payment.</p> 
<br/>
<ul class="bullet-list grid-50">
<h3>ADVANTAGES</h3>
<li>Monthly payments are fixed over the life of the loan</li>
<li>Interest rate does not change</li>
<li>Protected if rates go up</li>
<li>Can refinance if rates go down</li>
</ul><ul class="bullet-list grid-50">
<h3>DISADVANTAGES</h3>
<li>Higher interest rate</li>
<li>Higher mortgage payments</li>
<li>Rate does not drop if interest rates improve</li>
</ul>
</div>

<div class="content-wrap">
<span class="icon icon-adjust"></span>
<h2>Adjustable Rate Mortgages</h2>
<h3>3/1, 5/1, 7/1, 10/1 ARM</h3>
<p>A mortgage in which the interest rate fluctuates at set periods based on the current market. Typically denoted in the form “introductory period/interval for adjustment,” as in a 5/1 ARM in which the first 5 years are fixed, and then the subsequent rates are readjusted every 1 year.</p> 
<br/>
<ul class="bullet-list grid-50">
<h3>ADVANTAGES</h3>
<li>Lower initial monthly payment</li>
<li>Lower payment over a shorter period of time</li>
<li>Rates and payments may go down if rates improve</li>
<li>May qualify for higher renovation home loans amounts</li>
</ul><ul class="bullet-list grid-50">
<h3>DISADVANTAGES</h3>
<li>More risk</li>
<li>Payments may change over time</li>
<li>Potential for high payments if rates go up</li>
</ul>
</div>

<div class="content-grid">
<h2>Adjustable Rate Mortgages</h2>

<ul class="grid-list">
	<li class="list-item grid-30">
		<div class="child-tile">
			<div class="icon icon-gov"></div>
			<div class="loan-name">FHA Loan</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li>
	<li class="list-item grid-30">
		<div class="child-tile">
			<div class="icon icon-calc-wide"></div>
			<div class="loan-name">Reverse Mortgage</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li>
	<li class="list-item grid-30">
		<div class="child-tile">
			<div class="icon icon-gift"></div>
			<div class="loan-name">Special Loan Programs</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li>

</ul>

<h2>Unique Situations</h2>
<ul class="grid-list">
	<li class="list-item grid-30">
		<div class="child-tile">
		<div class="icon icon-battery"></div>
		<div class="loan-name">Low Income?</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li><li class="list-item grid-30">
		<div class="child-tile">
		<div class="icon icon-briefcase"></div>
		<div class="loan-name">Short Job History?</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li><li class="list-item grid-30">
		<div class="child-tile">
		<div class="icon icon-disable"></div>
		<div class="loan-name">Need cash without monthly payment?</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li><li class="list-item grid-30">
		<div class="child-tile">
		<div class="icon icon-credit-card"></div>
		<div class="loan-name">Credit problem?</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li><li class="list-item grid-30">
		<div class="child-tile">
		<div class="icon icon-change"></div>
		<div class="loan-name">Not enough downpayment?</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li><li class="list-item grid-30">
		<div class="child-tile">
		<div class="icon icon-medal"></div>
		<div class="loan-name">First time home buyer?</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li><li class="list-item grid-30">
		<div class="child-tile">
		<div class="icon icon-passport"></div>
		<div class="loan-name">No greencard, no citizenship?</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li><li class="list-item grid-30">
		<div class="child-tile">
		<div class="icon icon-key"></div>
		<div class="loan-name">Buying without selling your home?</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li>
</ul>

<h2>Commercial Lending</h2>
<ul class="grid-list">
	<li class="list-item grid-30">
		<div class="child-tile">
		<div class="icon icon-construction"></div>
		<div class="loan-name">Land and Construction</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li><li class="list-item grid-30">
		<div class="child-tile">
		<div class="icon icon-apartment"></div>
		<div class="loan-name">Apartment</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li><li class="list-item grid-30">
		<div class="child-tile">
		<div class="icon icon-store"></div>
		<div class="loan-name">Commercial Space</div>
		</div>
		<div class="child-content tile-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer mattis dolor sit amet dolor egestas, vitae fringilla lectus molestie. Donec eget faucibus augue, vel auctor dui. Ut vulputate velit sed nisl aliquam aliquam. Aliquam malesuada, lorem eu luctus placerat, lectus nibh sagittis turpis, ac fringilla lorem tellus sed dui. Cras id aliquam nisl. Donec ac aliquam tortor. Nullam dapibus sapien vel mauris tempus ultrices. Ut dapibus ultricies tristique. Aenean accumsan non tellus vitae dapibus. Nulla dui est, luctus in suscipit eget, accumsan nec risus. Curabitur turpis turpis, tempus id finibus sed, maximus vel orci. Donec sed tortor non turpis dictum finibus. Sed ornare ultricies mi sit amet tempus. Nulla ornare iaculis metus, ac egestas sapien scelerisque vel. Duis sed arcu est. Mauris commodo, nisi vitae varius lacinia, nibh ex malesuada nibh, quis porta nisi elit quis felis.</p>
		</div>
	</li>
</ul>

</div>
