<% content_for :body_class, "loan-process" %>

<div class="header-image opaque" style="background-image: url('/images/process-img.jpg');">
<h1>Step by Step Process</h1>
</div>

<ul class="tabs">
<li class="tab grid-50 active" id="purchase">
	<h3>Purchase</h3>
</li><li class="tab grid-50" id="refinance">
	<h3>Refinance</h3>
</li>
</ul>

<div class="tab-content purchase active">
<h3>Purchase</h3>
</div>

<div class="tab-content refinance">
<h3>Refinance</h3>
</div>