<% content_for :body_class, "loan-programs" %>

<div class="header-image opaque" style="background-image: url('/images/loan-programs-img.jpg');">
<h1>Which Loan Is Right For Me?</h1>
</div>

<div class="content-wrap">
<span class="icon icon-house"></span>
<h2>Fixed Rate Mortgage</h2>
<h3>10, 15, 30 year fixed</h3>
<p>A fixed rate mortgage is a mortgage that has a fixed interest rate for the entire term of the loan. With a fixed-rate mortgage, borrowers do not have to worry about interest rates spiking and increasing their mortgage payment.</p> 
<br/>
<ul class="bullet-list grid-50">
<h3>ADVANTAGES</h3>
<li>Monthly payments are fixed over the life of the loan</li>
<li>Interest rate does not change</li>
<li>Protected if rates go up</li>
<li>Can refinance if rates go down</li>
</ul><ul class="bullet-list grid-50">
<h3>DISADVANTAGES</h3>
<li>Higher interest rate</li>
<li>Higher mortgage payments</li>
<li>Rate does not drop if interest rates improve</li>
</ul>
</div>

<div class="content-wrap">
<span class="icon icon-adjust"></span>
<h2>Adjustable Rate Mortgages</h2>
<h3>3/1, 5/1, 7/1, 10/1 ARM</h3>
<p>A mortgage in which the interest rate fluctuates at set periods based on the current market. Typically denoted in the form “introductory period/interval for adjustment,” as in a 5/1 ARM in which the first 5 years are fixed, and then the subsequent rates are readjusted every 1 year.</p> 
<br/>
<ul class="bullet-list grid-50">
<h3>ADVANTAGES</h3>
<li>Lower initial monthly payment</li>
<li>Lower payment over a shorter period of time</li>
<li>Rates and payments may go down if rates improve</li>
<li>May qualify for higher renovation home loans amounts</li>
</ul><ul class="bullet-list grid-50">
<h3>DISADVANTAGES</h3>
<li>More risk</li>
<li>Payments may change over time</li>
<li>Potential for high payments if rates go up</li>
</ul>
</div>

