<% content_for :body_class, "loan-officer" %>
<div class="breadcrumbs">
<a href="/about-us">About Us</a> > Esther Choi
</div>

<div class="loan-officer-card">
	<div class="header">
		<div class="member-avatar" style="background-image: url('/images/default-avatar.jpg');">
		</div>
		<h3 class="member-name">
		Esther Choi
		</h3>
		<p class="member-role">
		Loan Officer
		</p>
		<div class="phone-number"><span class="icon-phone"></span>(999)999-9999</div>
		<div class="email"><span class="icon-email"></span>Esther@theloanstory.com</div>
		<div class="member-license">
			<span>CalBRE 1234567890 | NMLS 1234567890 </span>
			<br/>
			<button class="primary-big"> Apply For a Loan </button>
		</div>
	</div>
	<div class="bio">
		<p>Esther’s goal is to streamline an otherwise complicated loan process with the most up-to-date technology, and to provide transparency by effectively communicating available loan options.  She is committed to providing the most personalized service, making herself available to her clients and referral partners with quick response times.  Having handled more than 500 loan transactions and understanding the ins and outs of the loan process, she has the experience and knowledge for empowering her clients to make informed decisions.  Whether it’s a first time homebuyer who appreciates a little handholding, or a savvy investor who wants a quick hassle-free turnaround – she delivers exactly that!</p>
		<br/>
		<p>Esther joined The Loan Story in 2012, with a background in Business Economics and Accounting from the University of California, In her free time, Esther enjoys playing and appreciating music, trying new recipes, and international travel.</p>  
	</div>
</div>

<div class="testimonials">
	<h2>Testimonials</h2>
	<div class="quote-box grid-50">
	 <p>Esther did an exceptional job in getting us the best loan available, but it's not just about that. She was always available, including on the days when she was with friends enjoying a nice getaway over the weekend. She never allowed us to feel like we were bothering her or that she was too busy. Always pleasant, and professional. She is knowledgeable and patient and made us feel at ease and always kept an open mind about options. I can't imagine a more personalized and professional service more than what Esther has provided.  </p>
	 <span class="icon-user"></span>
	 <span>Amit L.</span>
	</div><div class="quote-box grid-50">
	 <p>Esther did an exceptional job in getting us the best loan available, but it's not just about that. She was always available, including on the days when she was with friends enjoying a nice getaway over the weekend. She never allowed us to feel like we were bothering her or that she was too busy. Always pleasant, and professional. She is knowledgeable and patient and made us feel at ease and always kept an open mind about options. I can't imagine a more personalized and professional service more than what Esther has provided.  </p>
	 <span class="icon-user"></span>
	 <span>Amit L.</span>
	</div>
	<div class="quote-box grid-50">
	 <p>Esther did an exceptional job in getting us the best loan available, but it's not just about that. She was always available, including on the days when she was with friends enjoying a nice getaway over the weekend. She never allowed us to feel like we were bothering her or that she was too busy. Always pleasant, and professional. She is knowledgeable and patient and made us feel at ease and always kept an open mind about options. I can't imagine a more personalized and professional service more than what Esther has provided.  </p>
	 <span class="icon-user"></span>
	 <span>Amit L.</span>
	</div><div class="quote-box grid-50">
	 <p>Esther did an exceptional job in getting us the best loan available, but it's not just about that. She was always available, including on the days when she was with friends enjoying a nice getaway over the weekend. She never allowed us to feel like we were bothering her or that she was too busy. Always pleasant, and professional. She is knowledgeable and patient and made us feel at ease and always kept an open mind about options. I can't imagine a more personalized and professional service more than what Esther has provided.  </p>
	 <span class="icon-user"></span>
	 <span>Amit L.</span>
	</div>
</div>