<% content_for :body_class, "loan-process" %>

<div class="header-image opaque" style="background-image: url('/images/process-img.jpg');">
<h1>Step by Step Process</h1>
</div>

<ul class="tabs rounded">
<li class="tab active" id="purchase">
	<h3><span class="icon icon-house"></span><span>Purchase</span></h3>
</li><li class="tab" id="refinance">
	<span class="icon icon-coins"></span><h3>Refinance</h3>
</li>
</ul>

<div class="tab-content purchase active">
	<div class="content-wrap">
		<span class="icon icon-clipboard"></span>
		<h3>Prequalification</h3>
		<ul class="bullet-list">
			<li><span>You:</span> Send in essential documents</li>
			<li><span>We:</span> Determine a suitable loan program and structure</li>
		</ul>
	</div>
	<div class="content-wrap">
		<span class="icon icon-airplane"></span>
		<h3>Submission</h3>
		<ul class="bullet-list">
			<li>Lock your rate</li>
			<li>Agree to your loan estimate and sign your loan application</li>
			<li>Accept and order an appraisal</li>
			<li>Receive a homeowner’s insurance quote</li>
			<li>Submit your loan</li>
		</ul>
	</div>
	<div class="content-wrap">
		<span class="icon icon-certified"></span>
		<h3>Loan Approval</h3>
		<ul class="bullet-list">
			<li>Placeholder Text</li>
			<li>Placeholder Text</li>
		</ul>
	</div>
	<div class="content-wrap">
		<span class="icon icon-like"></span>
		<h3>Conditions Cleared</h3>
		<ul class="bullet-list">
			<li>Placeholder Text</li>
			<li>Placeholder Text</li>
		</ul>
	</div>
	<div class="content-wrap">
		<span class="icon icon-sign"></span>
		<h3>Sign Loan Documents</h3>
		<ul class="bullet-list">
			<li>Placeholder Text</li>
			<li>Placeholder Text</li>
		</ul>
	</div>
	<div class="content-wrap">
		<span class="icon icon-bank"></span>
		<h3>Funding</h3>
		<ul class="bullet-list">
			<li>Placeholder Text</li>
			<li>Placeholder Text</li>
		</ul>
	</div>
</div>

<div class="tab-content refinance">
<div class="content-wrap">
		<span class="icon icon-clipboard"></span>
		<h3>Prequalification</h3>
		<ul class="bullet-list">
			<li><span>You:</span> Send in essential documents</li>
			<li><span>We:</span> Determine a suitable loan program and structure</li>
		</ul>
	</div>
	<div class="content-wrap">
		<span class="icon icon-search"></span>
		<h3>Prequalification</h3>
		<ul class="bullet-list">
			<li>Send in essential documents</li>
			<li>Determine a suitable loan program and structure</li>
		</ul>
	</div>
	<div class="content-wrap">
		<span class="icon icon-search"></span>
		<h3>Prequalification</h3>
		<ul class="bullet-list">
			<li>Send in essential documents</li>
			<li>Determine a suitable loan program and structure</li>
		</ul>
	</div>
</div>