<% content_for :body_class, "tools" %>

<div class="header-image opaque" style="background-image: url('/images/tools-img.jpg');">
<h1>Calculate Your Options</h1>
</div>
<!-- 

<ul class="tabs center">
	<li class="tab active" id="mortgage-calculator">
		<h3>Mortgage Calculator</h3>
	</li><li class="tab" id="rent-buy">
		<h3>Rent Vs. buy</h3>
	</li>
</ul> -->
<div class="tab-content mortgage-calculator active">
	<form class="mortgage-calc-form grid-40">
		<div class="form-input">
		<label>Home Price</label>
		<br/>
		<input class="large" type="" name=""></input>
		</div>
		<div class="form-input">
		<label>Down Payment</label>
		<br/>
		<input class="large" type="" name=""></input>
		</div>
		<div class="form-input">
		<label>Loan Interest</label>
		<br/>
		<input class="small" type="" name=""></input>
		</div>
		<div class="form-input">
		<label>Property Taxes</label>
		<br/>
		<input class="large" type="" name=""></input>
		</div>
		<div class="form-input">
		<label>HOA Dues</label>
		<br/>
		<input class="large" type="" name=""></input>
		</div>
		<div class="form-input">
		<label>Homeowners Insurance</label>
		<br/>
		<input class="large" type="" name=""></input>
		</div>
		<a class="clear-form">Clear</a>
	</form><div class="calc-results grid-60">
		<h3>Payment Summary</h3>
		<span class="total-payment">
			$5826
		</span>
		<div class="results-bar">
		</div>
		<div class="results">
			<span>Principal and Interest</span>
			<span class="summary">$12,345</span>
		</div>
		<div class="results">
			<span>Property Taxes</span>
			<span class="summary">$12,345</span>
		</div>
		<div class="results">
			<span>HOA Dues</span>
			<span class="summary">$12,345</span>
		</div>
		<div class="results">
			<span>Homeowners Insurance</span>
			<span class="summary">$12,345</span>
		</div>
		<hr/>
		<h3>Loan Summary</h3>
		<span class="total-payment">
			$12345
		</span>
		<div class="results">
			<span>Total Interest Paid</span>
			<span class="summary">$12,345</span>
		</div>
		<div class="results">
			<span>Total of 360 Payments</span>
			<span class="summary">$12,345</span>
		</div>
		<div class="results">
			<span>Payoff Date</span>
			<span class="summary">Feb 20</span>
		</div>
	</div>
</div>

<div class="tab-content rent-buy">
</div>
<div class="amortization">
	<h3> Amortization Schedule</h3>
	<table class="amortization-schedule">
	<tr>
		<th>Date</th>
		<th>Interest</th>
		<th>Principal</th>
		<th>Balance</th>
	</tr>
	<tr>
		<td>12/22/2017</td>
		<td>12%</td>
		<td>12%</td>
		<td>$12345</td>
	</tr>
	<tr>
		<td>12/22/2017</td>
		<td>12%</td>
		<td>12%</td>
		<td>$12345</td>
	</tr>
	<tr>
		<td>12/22/2017</td>
		<td>12%</td>
		<td>12%</td>
		<td>$12345</td>
	</tr>
	<tr>
		<td>12/22/2017</td>
		<td>12%</td>
		<td>12%</td>
		<td>$12345</td>
	</tr>
	<tr>
		<td>12/22/2017</td>
		<td>12%</td>
		<td>12%</td>
		<td>$12345</td>
	</tr>
	<tr>
		<td>12/22/2017</td>
		<td>12%</td>
		<td>12%</td>
		<td>$12345</td>
	</tr>
	</table>
</div>