<% content_for :body_class, "tools" %>

<div class="header-image opaque" style="background-image: url('/images/tools-img.jpg');">
<h1>Calculate Your Options</h1>
</div>


<ul class="tabs">
<li class="tab active" id="purchase">
	<h3>Mortgage Calculator</h3>
</li><li class="tab" id="refinance">
	<h3>Rent Vs. buy</h3>
</li>

<div class="content-wrap">
admaldal
</div>