@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Muli:400,400i,600,700,800");
a:hover {
  cursor: pointer;
}

a.text-link {
  font-weight: bold;
  color: #FFE687;
}
a.text-link:hover {
  color: #fff1ba;
}
a.text-link:after {
  font-family: 'icomoon' !important;
  content: "\e904";
  margin-left: 2px;
  font-size: 12px;
}

a.primary {
  color: #BE493C;
}
a.primary:hover {
  color: #cd6b60;
}

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot?ye5abp");
  src: url("/fonts/icomoon.eot?ye5abp#iefix") format("embedded-opentype"), url("/fonts/icomoon.ttf?ye5abp") format("truetype"), url("/fonts/icomoon.woff?ye5abp") format("woff"), url("/fonts/icomoon.svg?ye5abp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e91b";
}

.icon-phone:before {
  content: "\e91c";
}

.icon-construction:before {
  content: "\e914";
}

.icon-key:before {
  content: "\e915";
}

.icon-apartment:before {
  content: "\e916";
}

.icon-medal:before {
  content: "\e917";
}

.icon-passport:before {
  content: "\e918";
}

.icon-store:before {
  content: "\e919";
}

.icon-adjust:before {
  content: "\e91a";
}

.icon-bank:before {
  content: "\e914";
}

.icon-battery:before {
  content: "\e915";
}

.icon-like:before {
  content: "\e916";
}

.icon-sign:before {
  content: "\e917";
}

.icon-clipboard:before {
  content: "\e913";
}

.icon-airplane:before {
  content: "\e90b";
}

.icon-certified:before {
  content: "\e90c";
}

.icon-change:before {
  content: "\e90d";
}

.icon-credit-card:before {
  content: "\e90e";
}

.icon-disable:before {
  content: "\e90f";
}

.icon-house:before {
  content: "\e910";
}

.icon-menu-copy:before {
  content: "\e911";
}

.icon-coins:before {
  content: "\e912";
}

.icon-yelp:before {
  content: "\e906";
}

.icon-facebook:before {
  content: "\e907";
}

.icon-linkedin:before {
  content: "\e908";
}

.icon-menu:before {
  content: "\e909";
}

.icon-twitter:before {
  content: "\e90a";
}

.icon-chevron-right:before {
  content: "\e904";
}

.icon-quote:before {
  content: "\e905";
}

.icon-search:before {
  content: "\e900";
}

.icon-calculator:before {
  content: "\e901";
}

.icon-refresh:before {
  content: "\e902";
}

.icon-user:before {
  content: "\e903";
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html, body {
  background: white;
}

body {
  color: #333333;
  font-family: "Muli", Hevetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.links a:link, .content a:link, section[role=main] > article a:link {
  color: #bb3a08;
  text-decoration: underline;
}
.links a:visited, .content a:visited, section[role=main] > article a:visited {
  color: #a72;
}
.links a:hover, .content a:hover, section[role=main] > article a:hover {
  color: #f66933;
  text-decoration: none;
}
.links a.more, .content a.more, section[role=main] > article a.more {
  white-space: nowrap;
}
.links a.more:after, .content a.more:after, section[role=main] > article a.more:after {
  content: " »";
}

.typography, .content, section[role=main] > article {
  /*h1 {
    font-weight: 700;
    font-size: 200%;
    line-height: 0.785 * $line-height;
    margin: 0.75em 0;
  }
  h2 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 0.785 * $line-height;
  }
  h3 {
    font-weight: bold;
    font-size: 140%;
    line-height: 0.835 * $line-height;
    margin: 1.25em 0 0.5em;
  }
  h4 {
    font-weight: bold;
    font-size: 110%;
    line-height: 0.9 * $line-height;
    margin: 0.5em 0 0.5em;
  }
  h5 {
    font-style: italic;
    font-size: 110%;
    line-height: $line-height;
    margin: 0.65em 0;
  }
  h6 {
    font-weight: bold;
    margin-bottom: -0.75em;
  }*/
}
.typography strong, .content strong, section[role=main] > article strong, .typography b, .content b, section[role=main] > article b {
  color: black;
  font-weight: bold;
}
.typography em, .content em, section[role=main] > article em, .typography i, .content i, section[role=main] > article i {
  font-style: italic;
}
.typography abbr, .content abbr, section[role=main] > article abbr, .typography acronym, .content acronym, section[role=main] > article acronym {
  border-bottom: 1px dotted #999999;
}
.typography sub, .content sub, section[role=main] > article sub, .typography sup, .content sup, section[role=main] > article sup {
  font-size: 85%;
}
.typography sub, .content sub, section[role=main] > article sub {
  vertical-align: sub;
}
.typography sup, .content sup, section[role=main] > article sup {
  vertical-align: super;
}
.typography span.caps, .content span.caps, section[role=main] > article span.caps {
  font-size: 95%;
}
.typography h1, .content h1, section[role=main] > article h1, .typography h2, .content h2, section[role=main] > article h2, .typography h3, .content h3, section[role=main] > article h3, .typography h4, .content h4, section[role=main] > article h4, .typography h5, .content h5, section[role=main] > article h5, .typography h6, .content h6, section[role=main] > article h6 {
  color: #111111;
  margin: 1em 0;
}
.typography p, .content p, section[role=main] > article p {
  margin: 1em 0;
}
.typography ul, .content ul, section[role=main] > article ul, .typography ol, .content ol, section[role=main] > article ol, .typography dl, .content dl, section[role=main] > article dl {
  margin-top: 1em;
  margin-bottom: 1em;
}
.typography ul, .content ul, section[role=main] > article ul, .typography ol, .content ol, section[role=main] > article ol, .typography dd, .content dd, section[role=main] > article dd {
  padding-left: 2.25em;
}
.typography ul, .content ul, section[role=main] > article ul {
  list-style: disc;
}
.typography ol, .content ol, section[role=main] > article ol {
  list-style: decimal;
}
.typography li, .content li, section[role=main] > article li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.typography dt, .content dt, section[role=main] > article dt {
  margin-top: 1em;
}
.typography dd, .content dd, section[role=main] > article dd {
  margin-bottom: 1em;
}
.typography code, .content code, section[role=main] > article code, .typography dfn, .content dfn, section[role=main] > article dfn, .typography kbd, .content kbd, section[role=main] > article kbd, .typography samp, .content samp, section[role=main] > article samp, .typography tt, .content tt, section[role=main] > article tt {
  font-family: "Muli", Hevetica, Arial, sans-serif;
  font-size: 95%;
  color: #666666;
}
.typography pre, .content pre, section[role=main] > article pre {
  background: #666666;
  color: #cccccc;
  font-family: "Muli", Hevetica, Arial, sans-serif;
  font-size: 95%;
  line-height: 1.4;
  margin: 1.5em 0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.content .box, section[role=main] > article .box {
  background: #efeacf;
  border: 1px solid #e2d9a9;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin: 1.5em -1em;
  padding: 1px 1em;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #ECF0F1;
}

header[role=banner] {
  position: relative;
  padding: 0;
  background: #182D56;
  position: relative;
  height: 70px;
}
header[role=banner] #logo img {
  height: 50px;
  margin-top: 10px;
}
header[role=banner] nav {
  position: absolute;
  right: 40px;
  max-width: 1200px;
  height: 70px;
  top: 0;
}
header[role=banner] nav a {
  position: relative;
  display: inline-block;
  margin-right: -5px;
  width: 100px;
  height: 70px;
  vertical-align: baseline;
}
header[role=banner] nav a:hover {
  background-color: #4AB7FF;
}
header[role=banner] nav a span {
  position: absolute;
  bottom: 0;
  padding: 10px 15px 5px 10px;
  color: #fff;
}
header[role=banner] nav a:last-child {
  background-color: #BE493C;
}
header[role=banner] nav a:last-child:hover {
  background-color: #FFE687;
}
header[role=banner] nav a.active:hover {
  background-color: transparent;
}
header[role=banner] nav a.active span {
  background-color: #ECF0F1;
  color: #182D56;
  font-weight: bold;
}
header[role=banner] .action-link {
  position: absolute;
  right: 40px;
  top: 55px;
}
header[role=banner] .action-link a {
  background: rgba(255, 255, 255, 0.1);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  padding: 0.5em 1em;
  text-shadow: #4c1e09 0 1px 0;
}
header[role=banner] .action-link a:after {
  content: " ⇢";
}
header[role=banner] .icon-menu {
  position: absolute;
  top: 25px;
  right: 10px;
  color: #fff;
  font-size: 28px;
  display: none;
}
@media (max-width: 768px) {
  header[role=banner] {
    position: relative;
  }
  header[role=banner] .icon-menu {
    display: inline-block;
  }
  header[role=banner] #logo {
    margin-left: 10px;
  }
  header[role=banner] nav {
    display: none;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #182D56;
    height: auto;
    width: 100%;
    z-index: 10;
  }
  header[role=banner] nav a {
    display: block;
    height: 40px;
    width: 100%;
  }
}

section {
  position: relative;
  padding: 0 40px;
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  section {
    padding: 0;
  }
}

footer {
  display: block;
  padding: 20px 0;
  background-color: #182D56;
  color: #fff;
  margin-top: 20px;
}
footer #logo img {
  height: 30px;
}

.grid-33 {
  display: inline-block;
  vertical-align: top;
  width: 33%;
}
@media (max-width: 768px) {
  .grid-33 {
    margin: 20px 0;
    width: 100%;
  }
}

.grid-50 {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}
@media (max-width: 768px) {
  .grid-50 {
    margin: 20px 0;
    width: 100%;
  }
}

h2 {
  font-weight: 700;
  color: #182D56;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 700;
  color: #182D56;
  font-size: 18px;
  line-height: 26px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

hr {
  border: none;
  border-top: 2px solid rgba(24, 45, 86, 0.3);
  margin-bottom: 20px;
}

.small-text {
  font-weight: 400;
  font-size: 12px;
}

ul.bullet-list {
  display: inline-block;
  list-style: disc;
}
ul.bullet-list li {
  margin-left: 30px;
}

header {
  padding: 10px 0;
}
@media (max-width: 768px) {
  header {
    padding: 0;
  }
}

.main-banner {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #182D56;
  background-size: cover;
  background-position: center 30%;
  overflow: hidden;
}
.main-banner:after {
  content: " ";
  width: 80%;
  height: 100%;
  background-color: rgba(24, 45, 86, 0.7);
  position: absolute;
  left: -20%;
  top: 0;
  -ms-transform: skewX(-15deg);
  /* IE 9 */
  -webkit-transform: skewX(-15deg);
  /* Safari */
  transform: skewX(-15deg);
  z-index: 0;
}

.cta {
  position: absolute;
  top: 0;
  padding: 80px 40px;
  width: 55%;
  z-index: 5;
}
.cta h1 {
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 800;
  color: #4AB7FF;
  margin-bottom: 20px;
}
.cta p {
  font-size: 18px;
  color: #fff;
}

.help-links {
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
.help-links .grid-33 {
  padding: 0 40px;
}
.help-links .icon {
  font-size: 80px;
  color: #BE493C;
}
.help-links h2 {
  margin-top: 20px;
  margin-bottom: 0;
}
.help-links p {
  margin: 8px 0;
}

.customer-reviews {
  position: relative;
  margin-top: 40px;
  padding: 40px;
  width: 100%;
  height: auto;
  background-color: #FFE687;
  text-align: center;
}

.quote-box {
  position: relative;
  padding: 20px 40px 30px 50px;
  text-align: left;
}
.quote-box:before {
  font-family: 'icomoon' !important;
  content: "\e905";
  font-size: 36px;
  color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
}
.quote-box .icon-user {
  display: inline-block;
  margin-top: 30px;
  font-size: 20px;
}

.header-image {
  position: relative;
  width: 100%;
  height: 240px;
  background-position: center center;
  background-size: cover;
  margin-bottom: 40px;
  text-align: center;
  z-index: 0;
  padding-top: 60px;
}
.header-image h1 {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
  z-index: 5;
}
@media (max-width: 768px) {
  .header-image {
    height: 120px;
  }
}
.header-image.opaque:before {
  content: "";
  position: absolute;
  background-color: rgba(24, 45, 86, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.member-list {
  margin-bottom: 20px;
  position: relative;
}
.member-list .member-section {
  display: inline-block;
  padding: 20px 60px 20px 0;
}
.member-list .member-avatar {
  display: inline-block;
  background-color: #FFE687;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: left;
  margin: 0 20px 20px 0;
}
.member-list .member-text {
  display: inline-block;
}
.member-list .member-role {
  font-style: italic;
}

.message-decoration {
  position: relative;
  margin: 40px 0 80px 0;
}
.message-decoration span {
  position: absolute;
  left: 50%;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color: rgba(24, 45, 86, 0.3);
  background-color: #ECF0F1;
  padding: 10px;
  margin-top: -55px;
  width: 720px;
  margin-left: -360px;
}

ul.tabs {
  position: relative;
  margin: 0 auto;
}
ul.tabs li {
  position: relative;
  background-color: #4AB7FF;
  padding: 20px;
  text-align: center;
  border-radius: 12px;
  cursor: pointer;
  width: 46%;
  display: inline-block;
  margin: 0 2%;
}
ul.tabs .active {
  background-color: #fff;
  border: 1px solid #4AB7FF;
}
ul.tabs .icon {
  position: absolute;
  left: 40px;
  top: -10px;
  font-size: 60px;
  color: #182D56;
}

.tab-content {
  position: relative;
  background-color: #fff;
  display: block;
  margin-top: 20px;
  padding: 10px 0;
  display: none;
}
.tab-content.active {
  display: block;
}

.content-wrap {
  position: relative;
  padding: 20px 40px 20px 40px;
  margin: 0 40px;
  border-bottom: 1px solid rgba(24, 45, 86, 0.3);
}
.content-wrap:last-child {
  border-bottom: none;
}
.content-wrap h2 {
  margin: 0;
}
.content-wrap .icon {
  position: absolute;
  left: 0;
  font-size: 28px;
  color: #BE493C;
}
