//
// Basic layout and styles for site
//
$breakpoint-small: 320px;
$breakpoint-medium: 768px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{background-color: $off-white;}
header[role=banner] {
  position: relative;
  padding: 0;
  background: $primary-color;
  position: relative;
  height: 70px;
  #logo{
    img{height: 50px; margin-top: 10px;}
  }
  nav{
    position: absolute;
    right: $body-margin-x;
    max-width: $max-body-width;
    height: 70px;
    top: 0;
    a{
      position:relative;
      display: inline-block;
      margin-right: -5px;
      width: 110px;
      height: 70px;
      vertical-align: baseline;
      font-weight: 700;
      &:hover{background-color:$secondary-color;}
      &:after{
        content:"";
        border-right: 1px solid #fff;
        margin-top: 30px;
        display: block;
        height: 40px;
      }
      span{
        position: absolute; 
        bottom: 0;
        padding: 10px 15px 5px 15px;
        color: #fff;
      }
      &:last-child{
        background-color:$secondary-red;
        width: 120px;
        &:hover{background-color: $tertiary-yellow;}
        &:after{border:none;}
      }
      &.active{
        &:hover{background-color: transparent;}
        &:after{border: none;}
        background-color: $off-white;
        span{color: $primary-color;}
       /* span{
        background-color: $off-white;
        color: $primary-color;
        font-weight: bold;
        width: 100%;
        }*/
      }
      &.tools{
        width: 80px;
      }
    }

  }
  .action-link {
    position: absolute;
    right: $body-margin-x;
    top: 55px;
    a {
      background: rgba(white, 0.1);
      @include border-radius;
      display: block;
      padding: 0.5em 1em;
      @include text-shadow(mix($banner-color, black, 50%) 0 1px 0);
      &:after { content: " "; }
    }
  }
  .icon-menu{
    position: absolute;
    top: 25px;
    right: 10px;
    color:#fff;
    font-size: 28px;
    display: none;
  }
  @media (max-width: $breakpoint-medium) {
    position: relative;
    .icon-menu{display: inline-block;}
    #logo{margin-left: 10px;}

    nav{
      display: none;
      position: relative;
      left: 0;
      right: 0;
      width: 100%;
      background-color: $primary-color;
      height: auto;
      width: 100%;
      z-index: 10;
      box-shadow: inset 0px 1px 2px rgba(#000, .4), 0px 1px 2px rgba(#000, .5);
      a{
        display:block;
        height: 40px;
        width: 100% !important;
        &.active span{
          background-color:transparent !important;
          color: #fff;
          border-left: 4px solid #fff;
        }
      }
      &.active{
        display: block;
        position: absolute;
        top: 70px;
      }

    }

  }
}

section{
  position: relative;
  padding: 0 $body-margin-x;
  max-width: 1200px; 
  margin: 0 auto;
  @media (max-width: $breakpoint-medium){
    padding: 0;
  }
}
footer {
  display: block;
  padding: 20px 0;
  #logo img{height:30px;}
  background-color: $primary-color;
  color: #fff;
  margin-top: 20px;
  .footer-license{margin-top: 20px;text-align: center;}
  .footer-contact{text-align:right;}
}
.grid-30{
  display:inline-block;
  vertical-align: top;
  width: 30%;
  margin: 1.5%;
  @media (max-width: $breakpoint-medium){

    width: 100% ;
  }
}
.grid-33{
  display:inline-block;
  vertical-align: top;
  width: 33%;
  @media (max-width: $breakpoint-medium){
    margin: 20px 0;
    width: 100% ;
  }
}

.grid-40{
  display:inline-block;
  vertical-align: top;
  width: 40%;
  @media (max-width: $breakpoint-medium){
    margin: 20px 0;
    width: 100% ;
  }
}

.grid-50{
  display:inline-block;
  vertical-align: top;
  width: 50%;
  @media (max-width: $breakpoint-medium){
    margin: 20px 0;
    width: 100% ;
  }
}

.grid-60{
  display:inline-block;
  vertical-align: top;
  width: 60%;
  @media (max-width: $breakpoint-medium){
    margin: 20px 0;
    width: 100% ;
  }
}

span.you{
  font-weight: 700; 
  margin-right: 5px;
  color: $secondary-red;
}
span.we{
  font-weight: 700; 
  margin-right: 5px;
  color: $secondary-color;
}

.social-icon{
  font-size:26px;
  padding: 4px;
  color: #fff;
}
