h2{
	font-weight: 700;
	color: $primary-color;
	font-size: 26px;
	line-height: 30px;
	margin-bottom: 20px;
	margin-top: 10px;
}
h3{
	font-weight: 700;
	color: $primary-color;
	font-size: 18px;
	line-height: 26px;
}
p{
	font-weight:400;
	font-size: 16px;
	line-height: 20px;
}
hr{
	border: none;
	border-top: 1px solid rgba($primary-color,.3);
	margin-top: 20px;
	margin-bottom: 20px;
}
b{font-weight:600;}
.small-text{
	font-weight:400;
	font-size: 12px;
}
a{text-decoration: none;}
ul.bullet-list{
	display: inline-block;
	list-style: disc;
	li{margin-left:  30px;}
}

header{
	padding: 10px 0;
	@media (max-width: $breakpoint-medium){
		padding: 0;
	}
}
.icon{padding-right: 5px;}
.main-banner{
	position: relative;
	width: 100%;
	height: 400px;
	background-color: $primary-color;
	background-size: cover;
	background-position: center 30%;
	overflow: hidden;
	&:after{
		content:" ";
		width: 80%;
		height: 100%;
		background-color: transparentize($primary-color, .3);
		position: absolute;
		left: -20%;
		top: 0;
		-ms-transform: skewX(-15deg); /* IE 9 */
	    -webkit-transform: skewX(-15deg); /* Safari */
	    transform: skewX(-15deg);
	    z-index: 0;
	    @media (max-width: $breakpoint-medium){
			width:100%;
			left: 0;
			-ms-transform: skewX(0); /* IE 9 */
		    -webkit-transform: skewX(0); /* Safari */
		    transform: skewX(0);
		}
	}
}
.cta{
	position:absolute;	
	top: 0;
	padding: 80px 40px;
	width: 55%;
	h1{
		font-size: 36px;
		line-height: 1.2em;
		font-weight: 800;
		color: $secondary-color;
		margin-bottom: 10px;
	}
	h2{
		color: $secondary-color;
	}
	p{
		font-size:18px;
		color:#fff;
	}
	z-index: 5;

	@media (max-width: $breakpoint-medium){
		width:100%;
	}
	@media (max-width: 400px){
		padding: 20px;
		h1{font-size: 30px;}
		h2{font-size: 24px;}
	}
}
.help-links{
	text-align: center;
	padding: 20px 0;
	margin-top: 40px;
	.grid-33{padding: 0 40px;}
	.icon{
		font-size: 80px;
		color: $secondary-red;
	}
	h2{margin-top: 20px;margin-bottom:0;}
	p{margin: 8px 0;}
}

.customer-reviews{
	position: relative;
	margin-top: 40px;
	padding: 40px;
	width: 100%;
	height: auto;
	background-color: $tertiary-yellow;
	text-align: center;
}

.quote-box{
	position: relative;
	padding: 20px 40px 30px 50px;
	text-align: left;
	&:before{
		font-family: 'icomoon' !important;
		content: "\e905";
		font-size: 36px;
		color: rgba(0,0,0, .2);
		position: absolute;
		top: 0;
		left: 0;
	};
	.icon-user{
		display: inline-block;
		margin-top: 30px;
		font-size: 26px;
	}
}

.header-image{
	position: relative;
	width: 100%;
	height: 240px;
	background-position: center center;
	background-size: cover;
	margin-bottom: 20px;
	text-align: center;
	z-index:0;
	padding-top: 60px;
	h1{
		color: #fff;
		font-size: 38px;
		font-weight: 700;
		z-index: 5;
	}

	@media (max-width: $breakpoint-medium){
		height: 120px;
		padding-top: 40px;
		h1{
			font-size: 26px;
		}
	}
	&.opaque:before{
		content:"";
		position:absolute;
		background-color: rgba($primary-color, .5);
		top:0;
		left:0;
		right:0;
		bottom:0;
		z-index: -1;
	}
}

.member-list{
	margin-bottom: 20px;
	position: relative;
	.member-section{
		display: inline-block;
		padding: 20px 60px 20px 0;
	}
	.member-avatar{
		display: inline-block;
		background-color: $tertiary-yellow;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		float: left;
		margin: 0 20px 20px 0;
	}
	.member-text{
		display: inline-block;
	}
	.member-role{font-style:italic;}
}

.message-decoration{
	position: relative;
	margin: 40px 0 60px 0;
	span{
		position: absolute;
		left: 50%;
		text-align: center;
		font-size: 34px;
		font-weight:700;
		color:rgba($primary-color,.3);
		background-color: $off-white;
		padding: 10px;
		margin-top: -55px;
		width: 720px;
		margin-left: -360px;
	}
}

.tabs.center{
	width: 600px;
	margin: 0 auto;
}

ul.tabs.rounded{
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	li{
		position:relative;
		background-color:rgba($secondary-color, .5);
		padding: 20px;
		text-align: center;
		border-radius: 12px;
		cursor:pointer;
		width: 46%;
		display: inline-block;
		margin: 0 2%;
		&:hover{background-color:rgba($secondary-color, .4);}
	}
	.active{
		border: 1px solid $secondary-color;
		&:hover{background-color:#fff;}
		&:before{
			position:absolute;
			bottom: -16px;
			margin-left: -13px;
			content:"";
			width: 0; 
			height: 0; 
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
		 	border-top: 16px solid $secondary-color;
		};
		&:after{
			position:absolute;
			bottom: -14px;
			margin-left: -11px;
			content:"";
			width: 0; 
			height: 0; 
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
		 	border-top: 14px solid #fff;
		};
	}
	.icon{
		position: absolute;
		left: 40px;
		top: -10px;
		font-size:60px;
		color: $primary-color;
	}
}

ul.tabs{
	li{
		position:relative;
		background-color:rgba($secondary-color, .5);
		padding: 20px;
		text-align: center;
		cursor:pointer;
		display: inline-block;
	}
	li.active{
		background-color: #fff;
		&:hover{background-color:#fff;}
	}
	li{
		width:300px;
	}
}

.tab-content{
	position: relative;
	background-color: #fff;
	display: block;
	padding: 10px 0;
	display: none;
	margin-bottom: 20px;
	&.active{display:block;}
}

.content-wrap{
	position: relative;
	padding: 20px 40px;
	margin: 0 40px;
	border-bottom: 1px solid rgba($primary-color, .3);
	&:last-child{border-bottom: none;}
	h2{margin:0;}
	.icon{
		position: absolute;
		left: 0;
		font-size: 28px;
		color: $secondary-red;
	}
}

.content-grid{
	position: relative;
	padding: 20px 40px;
	text-align:center;
	h2{margin-top: 20px;}
}
.grid-list li.list-item{
	position: relative;
	display: inline-block;
	height: auto;
	vertical-align: top;
	.child-tile{
		position:relative;
		background-color: rgba($secondary-color, .4);
		border-radius: 8px;
		cursor: pointer;
		&:hover{background-color:rgba($secondary-color, .3);}
		padding: 25px;
		height: 140px;
	}
	.icon{
		font-size: 50px;
	}
	.loan-name{
		padding-top: 10px;
		font-weight: 600;
		font-size: 16px;
		line-height: 18px;
	}
	&.active{
		.child-tile{
			background-color: #fff;
			border: 1px solid $secondary-color;
		}
		.child-tile:before{
			position:absolute;
			bottom: -16px;
			margin-left: -13px;
			content:"";
			width: 0; 
			height: 0; 
			border-left: 16px solid transparent;
			border-right: 16px solid transparent;
		 	border-top: 16px solid $secondary-color;
		};
		.child-tile:after{
			position:absolute;
			bottom: -14px;
			margin-left: -11px;
			content:"";
			width: 0; 
			height: 0; 
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
		 	border-top: 14px solid #fff;
		};
		.child-content{display: block;}

	}


}
.child-content{
	position:relative;
	width: 322% !important;
	margin-top: 20px;
	height: auto;
	width: 100%;
	padding: 20px;
	text-align: left;
	display: none;
	background-color: #fff;
	@media (max-width: $breakpoint-medium){
		width:100% !important;
	}
}


.mortgage-calc-form,.calc-results{
	position: relative;
	padding: 20px;
}

form{
	.form-input{
		display: block;
		margin-top: 15px;
	}
	.clear-form{
		float: right;
		margin-top: 15px;
	}
}

.total-payment{
	display:block;
	text-align: right;
	font-size: 28px;
	color: $primary-color;
	margin-top: -40px;
	&:after{
		content:"per month";
		font-size: 14px;
		display:block;
		margin-top: -8px;
	}
}

.results-bar{
	height: 14px;
	width: 100%;
	background-color: $primary-color;
	margin-top: 10px;
}
.results{
	margin-top: 15px;
	font-size: 12px;
	.summary{float: right;}
}
.amortization{
	text-align: center;
	padding: 20px 0;
	h3{margin-bottom: 20px;}
}

table{
	width: 100%;
	border: 1px solid $primary-color;
	text-align: center;
	font-size: 12px;
	td,th{padding: 10px; text-align: center;}
	td{border-right: 1px solid $primary-color;}
	th{background-color: #fff; border-bottom: 1px solid $primary-color;}
	tr:nth-child(even) {
    	background-color: rgba($primary-color, .3);
	}
}

