
// This should be applied to the body of the document:
// 
//     body { @include base-font; }
// 
@mixin base-font {
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?ye5abp');
  src:  url('/fonts/icomoon.eot?ye5abp#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?ye5abp') format('truetype'),
    url('/fonts/icomoon.woff?ye5abp') format('woff'),
    url('/fonts/icomoon.svg?ye5abp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-battery:before {
  content: "\e911";
}
.icon-briefcase:before {
  content: "\e925";
}
.icon-email:before {
  content: "\e923";
}
.icon-fax:before {
  content: "\e924";
}
.icon-bank:before {
  content: "\e920";
}
.icon-like:before {
  content: "\e921";
}
.icon-sign:before {
  content: "\e922";
}
.icon-calc-wide:before {
  content: "\e91d";
}
.icon-gift:before {
  content: "\e91e";
}
.icon-gov:before {
  content: "\e91f";
}
.icon-mail:before {
  content: "\e91b";
}
.icon-phone:before {
  content: "\e91c";
}
.icon-construction:before {
  content: "\e914";
}
.icon-key:before {
  content: "\e915";
}
.icon-apartment:before {
  content: "\e916";
}
.icon-medal:before {
  content: "\e917";
}
.icon-passport:before {
  content: "\e918";
}
.icon-store:before {
  content: "\e919";
}
.icon-adjust:before {
  content: "\e91a";
}
.icon-clipboard:before {
  content: "\e913";
}
.icon-airplane:before {
  content: "\e90b";
}
.icon-certified:before {
  content: "\e90c";
}
.icon-change:before {
  content: "\e90d";
}
.icon-credit-card:before {
  content: "\e90e";
}
.icon-disable:before {
  content: "\e90f";
}
.icon-house:before {
  content: "\e910";
}
.icon-coins:before {
  content: "\e912";
}
.icon-yelp:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-linkedin:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\e90a";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-quote:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e900";
}
.icon-calculator:before {
  content: "\e901";
}
.icon-refresh:before {
  content: "\e902";
}
.icon-user:before {
  content: "\e903";
}


// Typically this should be applied to content portion of the document:
// 
//     .content { @include basic-typography; }
// 
// Pass true if you would like to use indented instead of block level paragraphs:
// 
//     .content { @include basic-typography(true); }
// 
@mixin basic-typography($indented: $indented-paragraphs) {
  @include inline-elements;
  @include headings;
  @if $indented {
    @include indented-paragraphs;
  } @else {
    @include block-paragraphs;
  }
  @include lists;
  @include fixed-font-elements;
}

// Style inline elements like strong, em, abbr, etc...
@mixin inline-elements($loud-color: $loud-color) {
  @include bold-italic-elements($loud-color);
  @include misc-inline-elements;
}

// Basic styles for strong, b, em, and i
@mixin bold-italic-elements($loud-color: $loud-color) {
  strong, b { color: $loud-color; font-weight: bold; }
  em, i { font-style: italic; }
}

// Basic styles for abbr, acronym, sub, sup, and span.caps
@mixin misc-inline-elements {
  abbr, acronym { border-bottom: 1px dotted soften($text-color, 2); }
  sub, sup { font-size: 85%; }
  sub { vertical-align: sub; }
  sup { vertical-align: super; }
  span.caps { font-size: 95%; }
}

// Basic styles for headings
@mixin headings($color: $header-color, $line-height: $base-line-height) {
  h1, h2, h3, h4, h5, h6 {
    color: $color;
    margin: 1em 0;
  }
  /*h1 {
    font-weight: 700;
    font-size: 200%;
    line-height: 0.785 * $line-height;
    margin: 0.75em 0;
  }
  h2 {
    font-weight: bold;
    font-size: 1.2em;
    line-height: 0.785 * $line-height;
  }
  h3 {
    font-weight: bold;
    font-size: 140%;
    line-height: 0.835 * $line-height;
    margin: 1.25em 0 0.5em;
  }
  h4 {
    font-weight: bold;
    font-size: 110%;
    line-height: 0.9 * $line-height;
    margin: 0.5em 0 0.5em;
  }
  h5 {
    font-style: italic;
    font-size: 110%;
    line-height: $line-height;
    margin: 0.65em 0;
  }
  h6 {
    font-weight: bold;
    margin-bottom: -0.75em;
  }*/
}

// Block-level paragraphs with vertical margin
@mixin block-paragraphs {
  p { margin: 1em 0; }
}

// Indented paragraphs
@mixin indented-paragraphs($indent: 1em) {
  p { margin-top: 0.5; margin-bottom: 0.5; }
  p + p { text-indent: $indent; }
}

// Basic styles for list elements
@mixin lists($indent: 2.25em, $ul-list-style: disc, $ol-list-style: decimal) {
  ul, ol, dl { margin-top: 1em; margin-bottom: 1em; }
  ul, ol, dd { padding-left: $indent; }
  ul { list-style: $ul-list-style; }
  ol { list-style: $ol-list-style; }
  li { margin-top: 0.5em; margin-bottom: 0.5em; }
  dt { margin-top: 1em; }
  dd { margin-bottom: 1em; }
}

// Typewritter styles for fixed-font elements
@mixin fixed-font-elements($font-family: $fixed-font-family, $font-size: $fixed-font-size, $line-height: $fixed-line-height) {
  code, dfn, kbd, samp, tt {
    font-family: $font-family;
    font-size: 95%;
    color: soften($text-color);
  }
  pre {
    background: soften($text-color);
    color: invert($text-color);
    font-family: $font-family;
    font-size: 95%;
    line-height: $line-height;
    margin: 1.5em 0;
    padding: 1em;
    @include border-radius;
  }
}
